/* GENERAL */

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #080B12;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.centered {
    text-align: center;
    justify-content: center;
}

.flexed {
    display: flex;    
}

.bold-text {
    font-weight: 700;    
}

.main-h2 {
    font-size: 2em;    
}